# dev environment
setuptools~=60.2
twine~=4.0
sphinx~=5.3
sphinx-rtd-theme~=1.1
# Jupyter notebooks
surveydata~=0.1
pytz~=2022.2
xgboost~=1.7
tensorflow~=2.11
scikeras~=0.9
# true package dependencies
pandas~=1.3
numpy~=1.21
scikit-learn~=1.0
seaborn~=0.12
matplotlib~=3.6